<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>
<body>
    <h1>Contact Details</h1>
    {{if .Success}}
        <h3>Thanks for the message!</h3>
        <div>{{.Details.Email}}</div>
        <div>{{.Details.Subject}}</div>
        <div>{{.Details.Message}}</div>
    {{else}}
        <form action="" method="post">
            <div>
                <label for="">Email :</label>
                <input type="text" name="email" id="">
            </div>
            <div>
                <label for="">Subject</label>
                <input type="text" name="subject" id="">
            </div>
            <div>
                <label for="">Message:</label>
                <input type="text" name="message" id="">
            </div>
            <input type="submit" value="Submit">
        </form>
    {{end}}
</body>
</html>